<!DOCTYPE html>
<html>
  <head>
    <title>Gyre</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Muli:400i" rel="stylesheet">

    <script src="https://use.fontawesome.com/4ec3eee556.js"></script>

    <script type="text/javascript">
      <% if current_user %>
          window.currentUser = <%= render(
          "api/users/user.json.jbuilder",
          user: current_user
          ).html_safe %>
      <% end %>
    </script>
    <meta name="09fc3ba38a46382c891b420eceaecd0203029566" content="0ce28f58b57ac2e5fd2f65abe6d076f80dcde690" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
